/build

# Mac
.DS_Store

#VSCode
.vscode

# Intellij
.idea/
*.iml
*.iws
vendor/

# Maven
log/
target/

### Java template
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
